@(ruleForm: Form[com.atlassian.addon.connect.autowatch.controllers.form.ProjectAutoWatchRuleForm])

@import helper._

@ac.page("Autowatch project configuration") {
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())

    @stylesheets()
    @libraries()

    <!--@routes.Assets.at("javascripts/main.min.js")-->
    @requireJs(
        core = routes.Assets.at("javascripts/require.js").url,
        module = routes.Assets.at("javascripts/main").url
    )

    <meta name="ap-tenant" content="@ruleForm.get().tenant" />
    <meta name="ap-hostOrigin" content="@ruleForm.get().tenantHost" />
    <meta name="ap-projectKey" content="@ruleForm.get().projectKey" />
} {
    <div class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>Autowatch Rules</h2>
                <p>It's possible for users to automatically watch issues that match certain JQL. The JQL is scoped within project.</p>
            </div>
            <div class="aui-page-header-actions">

            </div>
        </div>
    </div>

    <table id="rules-table" class="aui autowatch-rules"></table>

    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
}