<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.3-m3/css/aui.css" media="all" />
<!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.3-m3/css/aui-ie.css" media="all" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.3-m3/css/aui-ie9.css" media="all" /><![endif]-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.3-m3/css/aui-experimental.css" media="all" />

<link rel="stylesheet" href="@routes.Assets.at("lib/restfultable/aui-experimental-restfultable.css")" media="all" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.min.css")" media="all" />